[submodule "dapp-styles"]
    path = interface/public/dapp-styles
    url = git://github.com/TheLindaProjectInc/dapp-styles.git
[submodule "meteor-dapp-wallet"]
	path = meteor-dapp-wallet
	url = https://github.com/TheLindaProjectInc/meteor-dapp-wallet.git
